body{
    background-image: url('./images/Landing\ page\ \(5\).png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
a{
    color: black !important;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 15px;
    font-family: 'raleway', sans-serif;
}
#button{
    border: 1px solid #F81717;
    background: #F81717;
    border-radius: 25px;
    color: white !important;
    width: 100px;
    height: 24px;
    
}

#row {
   margin-top: 15% !important;
}
h2{
    font-family: 'Righteous';
font-style: normal;
font-weight: normal;
font-size: 34px;
line-height: 40px;
}
p{
    
font-family: 'Raleway' sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
}
.address{
    display:flex;
    flex-direction:row;
    padding: 10px;
    font-size: 17px;
    border: 1px  grey;
    
    background: #FFFFFF;
    border: 1px solid #BABABA;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}
.address input[type=email] {
    flex-grow:2;
    border:none;
  
  }

  #C-button{
    float: right;
    padding: 10px;
    color: black;
    font-size: 17px;
    border-left: none;
    cursor: pointer;
    border: 1px grey;
    background: #F81717;
    border-radius: 25px;
    color: #FFFFFF;
    font-family: 'Raleway' sans-serif;
  }
  #C-button:focus{
      outline: none;
  }
 
  
  
  
  input:focus {
    outline: none;
  }
  
 